<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>

<div class="row">
    <div class="col-lg-8 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h1>{{section_name}}, <span>Section</span></h1>
            </div>
        </div>
    </div>
    <!-- /# column -->
    <div class="col-lg-4 p-l-0 title-margin-left">
        <div class="page-header">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a [routerLink]="'/'">Dashboard</a></li>
                    <li class="active">{{section_name}}</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /# column -->
  </div>
  <!-- /# row -->
<section id="main-content">
  <div class="row">
        <div class="col-md-3">
            <div class="card alert">
                <div class="card-header pr">
                    <h4>Add New Subject</h4>
                </div>

                <form (submit)="addUpdateSubject(subject)" (keydown.enter)="$event.preventDefault()">
                    <div class="basic-form m-t-20">
                        <div class="form-group">
                            <label>Subject Name</label>
                            <input type="text" [(ngModel)]="subject.subjectName" name="subjectName" class="form-control border-none input-flat bg-ash" required>
                        </div>
                    </div>
                    <div class="basic-form m-t-20">
                        <div class="form-group">
                            <label>Abbreviation</label>
                            <input type="text" [(ngModel)]="subject.abbreviation" name="abbreviation" class="form-control border-none input-flat bg-ash" required>
                        </div>
                    </div>      
                    <button class="btn btn-default btn-lg m-b-10 bg-primary border-none m-r-5 sbmt-btn" type="submit"><i class="ti-save"> </i>{{addSaveNtn}}</button>
                    <button (click)="subjectReset()" class="btn btn-default btn-lg m-b-10 m-l-5 sbmt-btn" type="button">Reset</button>
                </form>
         
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card alert">
                <div class="card-header pr">
                    <h4>All Subjects </h4>
                    <div class="search-action">
                        <div class="search-type dib">
                            <input class="form-control input-rounded" placeholder="search" type="text">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table student-data-table m-t-20">
                            <thead>
                                <tr>
                                    <th>Subject Name</th>
                                    <th>Abbreviation</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let subject of subjects | async" >
                                    <td (dblclick)="editSubject(subject)">
                                        {{subject.subjectName}}
                                    </td>
                                    <td (dblclick)="editSubject(subject)">
                                        {{subject.abbreviation}}
                                    </td>
                                    <td>
                                        <span><a [routerLink]="" (click)="editSubject(subject)"><i class="ti-pencil-alt color-success"></i></a></span>
                                        <span><a [routerLink]="" (click)="deleteSubject(subject)"><i class="ti-trash color-danger"></i> </a></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      <!-- /# column -->

  </div>
  <!-- /# row -->

</section>