<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
<div class="row">
    <div class="col-lg-8 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h1>Assignement, <span>Section</span></h1>
            </div>
        </div>
    </div>
    <!-- /# column -->
    <div class="col-lg-4 p-l-0 title-margin-left">
        <div class="page-header">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a [routerLink]="'/'">Dashboard</a></li>
                    <li class="active">Assignement</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /# column -->
  </div>
  <!-- /# row -->
  
  <section id="main-content">
    <div class="row">
          <div class="col-md-12">
              <div class="card alert">
                  <div class="card-header pr">
                      <h4>Add New Assignement</h4>
                  </div>
                  <form (submit)="addUpdateAssignement(assignement)" (keydown.enter)="$event.preventDefault()" autocomplete="off">
                      <div class="row">
                          <div class="basic-form m-t-20 col-md-3">
                              <div class="form-group">
                                  <label>Teacher</label>
                                  <select [(ngModel)]="assignement.teacher" name="teacher" class="form-control bg-ash border-none" required>  
                                    <option *ngFor="let teacher of teachers | async" [ngValue]="teacher">{{teacher.displayName}}</option>
                                  </select>
                              </div>
                          </div>

                          <div class="basic-form m-t-20 col-md-3">
                              <div class="form-group">
                                  <label>Classe</label>
                                  <select [(ngModel)]="assignement.classe" name="classe" class="form-control bg-ash border-none" required>  
                                    <option *ngFor="let classe of classes | async" [ngValue]="classe" >{{classe.displayName}}</option>
                                  </select>
                              </div>
                          </div>
                          <div class="basic-form m-t-20 col-md-3">
                              <div class="form-group">
                                  <label>Subject</label>
                                  <select [(ngModel)]="assignement.subject" name="subject" class="form-control bg-ash border-none" required>
                                    <option *ngFor="let subject of subjects | async" [ngValue]="subject" >{{subject.subjectName}}</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                      
                      <button class="btn btn-default btn-lg m-b-10 bg-primary border-none m-r-5 sbmt-btn" type="submit"><i class="ti-save"> </i>{{addSaveNtn}}</button>
                      <button (click)="assignementReset()" class="btn btn-default btn-lg m-b-10 m-l-5 sbmt-btn" type="button">Reset</button>
                  </form>
           
              </div>
          </div>
          <div class="col-lg-12">
              <div class="card alert">
                  <div class="card-header pr">
                      <h4>All Students </h4>
                      <div class="search-action">
                          <div class="search-type dib">
                              <input class="form-control input-rounded" placeholder="search" type="text">
                          </div>
                      </div>
                  </div>
                  
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table student-data-table m-t-20">
                              <thead>
                                  <tr>
                                      <th>Teacher</th>
                                      <th>Subject</th>
                                      <th>Classe</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr  *ngFor="let assignement of assignements | async" >
                                      <td  (dblclick)="editAssignement(assignement)">
                                          {{ assignement.teacher.displayName }}
                                      </td>
                                      <td  (dblclick)="editAssignement(assignement)">
                                          {{ assignement.subject.subjectName }}
                                      </td>
                                      <td  (dblclick)="editAssignement(assignement)">
                                          {{ assignement.classe.displayName }}
                                      </td>
                                      
                                      <td>
                                          <span><a [routerLink]="['/assignements/details/']"><i class="ti-eye color-default"></i></a></span>
                                          <span><a [routerLink]="" (click)="editAssignement(assignement)"><i class="ti-pencil-alt color-success"></i></a></span>
                                          <span><a [routerLink]="" (click)="deleteAssignement(assignement)"><i class="ti-trash color-danger"></i> </a></span>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
        <!-- /# column -->
  
    </div>
    <!-- /# row -->
  
  </section>